
/*
*{
   background-color: #313131;
}
*/

p {
    background-color: #FF2244;
}

/* Pseudo selektory */

#par1::before,
#par1::after{
/*    content: '\8704';*/
/*    content: '\00a7';*/
/*    content: '\8678';*/
    content: '\3432';
    color: #fff;
    font-size: 3em;
}

#par2::first-line{
    font-size: 2em;
}

#par2::first-letter{
    color: #fff;
}

#par1::first-letter{
    font-size: 5em;
}

a:visited{
    color: #77ff88;
}

a:hover{
    cursor: pointer;
    font-size: 1.4em;
    color: #557788;
}

a:active{
    font-size: 2em;
}

input:focus{
    background-color: #0000FF;
    color: #fff;
}

p:target{
   background-color: green;
}

p:lang(pl){
    background-color: aliceblue;
}

li:first-child{
    font-size: 3em;
}

li:last-child{
    font-size: 3em;
}

p span:only-child {
    text-decoration: line-through;
}

div:empty{
    width:600px;
    height: 200px;
    background-color: blueviolet;
}

li:nth-child(odd){
    background-color: red;
}

li:nth-child(4){
    background-color: purple;
}

li:nth-child(3n){
    background-color: aqua;
}

li:nth-child(2n+3):hover{
    background-color: olive;
}

input[title]{
    background-color: aqua;
}

input[type="text"]{
    background-color: aquamarine;
}

input[title~="tytuł"]{
    background-color: indianred;
}

input[title*="tu"]{
    background-color: brown;
}

input[title^="inn"]{
    background-color: darkslateblue;
}